*.vtk
*.vtm
*.vts
*.vti
*.dat
*.pvd
.idea/encodings.xml
*.xml
visualization/code/hierarchicalBoxDataWriter.cpp
*.cpp
*.f90
visualization/data/other/tabulatedGrid.txt
*.txt
visualization/data/raw/simpleData.raw
visualization/code/optimization.c
visualization/data/other/stvol.nc
visualization/data/other/disk_out_ref.ex2
visualization/data/other/sineEnvelope.nc
visualization/code/writeImage.py
visualization/code/remote.py
visualization/code/readStructuredGrid.py
visualization/code/adaptive.py
visualization/code/getRepresentation.py
visualization/code/projectionFilter.py
visualization/code/displaySphere.py
visualization/code/Makefile
visualization/code/readDiskOutRef.py
visualization/code/fuji.py
visualization/code/extractValues.py
visualization/code/displayWireframe.py
paraview.pdf